*,
*::after,
*::before {
	box-sizing: border-box;
	border-collapse: collapse;
}

body {
	background-color: tomato;
	display: flex;
	height: 100vh;
	margin: 0;
	width: 100%;
}

#check {
	background-color: darkseagreen;
	border: none;
	border-radius: 0.2rem;
	height: 1.4rem;
}

#display {
	color: lightgoldenrodyellow;
	font-size: 2rem;
	height: 4rem;
	line-height: 2.5rem;
	margin: auto;
}

#input {
	background-color: lavender;
	left: 0;
	padding: 1rem;
	position: absolute;
	top: 0;
	width: 100%;
}

#number {
	background-color: lightgoldenrodyellow;
	border: none;
	height: 1.4rem;
	text-align: right;
}

@media only screen and (min-width: 810px) {
	#input {
		border-radius: 0.5rem;
		left: 1rem;
		top: 1rem;
		width: max-content;
	}
}
